extends layout

block content
    .container.bg-light
        .container.col-md-10.bg-light
            br
            h1= post.title
            p Written by #{author}
            br
            p= post.body
            if user
                if user.id == post.author 
                    hr
                    a(href="edit/"+post._id) Edit 
                    a.float-right.text-danger(href="delete/"+post._id) Delete
                    br
            br
    if user
        br
        form(action="/posts/addcomment/"+post._id method="POST")
            .d-flex.justify-content-between
                input.col-8.form-control(type='text', placeholder='Enter Comment', name='commentbody', required='')
                button.col-md-3.btn.btn-primary(type='submit') Add comment
    
    if comments.length
        br
        .container.bg-light
            br
            h5 Comments
            br
            each a, _ in comments
                .d-flex.justify-content-between.border-top
                    p #{a.body}
                    p #{a.author}
                            

            br